$spacing-s: clamp(0.929rem, 0.559vw + 0.519rem, 1.286rem);

$ff-variable: "Switzer-Variable";

$anthracite: rgb(31, 31, 31);
$aluminium: rgb(161, 161, 161);
$light: rgb(249, 249, 249);

$font-size-body: clamp(0.875rem, 0.8536585365853658rem + 0.12195121951219512vw, 1rem);